Scrolling sticky navbar with JavaScript 
body {
    margin: 0;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #69C;
  }
  
  .active{
    background-color: #69C;
  }

  #head {
    background-color: white;
    text-align: left;
  }

  #head img {
    height: 160px;
    width: 500px;
  }

  #head h3{
    text-align: center;
  }
  
  #navbar {
    overflow: hidden;
    background-color: #003B6D;
  }
  
  #navbar a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  #navbar a:hover {
    background-color: #676767;
    color: white;
  }

  ul#breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
  }
  ul#breadcrumb li {
    display: inline;
    font-size: 18px;
  }
  ul#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
  }
  ul#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
  }
  ul#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
  }

  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }
  
  

  .content {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: #676767;
    padding: 20px;
  }

  .content > div {
    width: 500px;
    margin-left: 62px;
    margin-right: 62px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  .content img {
      height: 30%;
      width: 40%;
      padding: 10px;
  }

  .content .extraContent{
      height: 50%;
      width: 50%;
      font-size: 15px;
  }

  .content p {
    background-color: white;
    padding: 20px;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #676767;
    border-right-color: #676767;
    border-style: solid;
    border-left-width: 30px;
    border-right-width: 30px;
}
  
  .contentTwo {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: #003B6D;
  }

  .contentTwo > div {
    width: 100%;
    margin-left: 62px;
    margin-right: 62px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  .contentTwo img {
      height: 350px;
      width: 30%;
      padding: 10px 25px;
      border: 0;
  }

  .contentTwo p {
      background-color: white;
      padding: 20px;
      border-top: 0;
      border-bottom: 0;
      border-left-color: #003B6D;
      border-right-color: #003B6D;
      border-style: solid;
      border-left-width: 30px;
      border-right-width: 30px;
  }

  .contentThree {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: #676767;
    padding: 20px;
  }

  .contentThree > div {
    width: 500px;
    margin-left: 62px;
    margin-right: 62px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  .contentThree img {
      height: 30%;
      width: 40%;
      padding: 10px;
  }

  .contentThree .extraContent{
      height: 50%;
      width: 50%;
      font-size: 15px;
  }

  .contentThree p {
    background-color: white;
    padding: 20px;
    border-top: 0;
    border-bottom: 0;
    border-left-color: #676767;
    border-right-color: #676767;
    border-style: solid;
    border-left-width: 30px;
    border-right-width: 30px;
}

  .contentFour {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    background-color: #69C;
  }

  .contentFour > div {
    width: 100%;
    margin-left: 62px;
    margin-right: 62px;
    text-align: center;
    line-height: 20px;
    font-size: 15px;
  }

  .contentFour img {
      height: 350px;
      width: 30%;
      padding: 10px 25px;
      border: 0;
  }

  .contentFour p {
      background-color: white;
      padding: 20px;
      border-top: 0;
      border-bottom: 0;
      border-left-color: #69C;
      border-right-color: #69C;
      border-style: solid;
      border-left-width: 30px;
      border-right-width: 30px;
  }

  .site-footer {
    overflow: hidden;
    height: 100px;
    width: 100%;
    background-color: #676767;
  }

  .footer-content{
    padding-top: 30px;
    text-align: center;
    font-size: 20px;
  }

  .footer-content a{
    color: #f2f2f2;
  }